#map {
	width: 65%;
	height: 460px;
}
#map_date{
	position: absolute;
	color: #fff;
	background-color: rgba(0,0,0,0.8);
	padding: 10px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
}

line{
	stroke: #000;
}

g.inactive{
	pointer-events: none;
}
g.active{
	pointer-events: auto;
}

.bio{
	position: absolute;
	top: 10px;
	right: 20px;
	width: 32%;
	visibility: hidden;
}

.bio img{
	width:50%;
	float: right;
	height:auto;
	padding: 10px;
	margin-top: 40px;
}
label img{
	width: 100px;
	height: auto;
	margin-top: 3px;
}
label img:hover{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	opacity: 1;
}
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.grey{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.5;
}

div.arrow-right {
	position: absolute;
	top: 300px;
	right: 20px;
	margin: 10px;
	width: 0; 
	height: 0; 
	border-bottom: 30px solid transparent;  /* left arrow slant */
	border-top: 30px solid transparent; /* right arrow slant */
	border-left: 30px solid #2f2f2f; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
	opacity: 0.1;
}
div.arrow-right:hover {
	opacity: 0.8;
}
div.arrow-left:hover {
	opacity: 0.8;
}
div.arrow-left {
	position: absolute;
	top: 300px;
	left: 20px;
	width: 0; 
	height: 0; 
	border-bottom: 30px solid transparent;  /* left arrow slant */
	border-top: 30px solid transparent; /* right arrow slant */
	border-right: 30px solid #2f2f2f; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
	opacity: 0.1;
}